In [1]:
!pip install pandas 
!pip install mysql-connector-python
!pip install sqlalchemy
!pip install python-dotenv

Requirement already satisfied: pandas in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diego\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\diego\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: mysql-connector-python in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (8.4.0)

[notice] A new release of pip available: 22.3 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\diego\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip available: 22.3 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\diego\appdata\local\programs\python\python311\lib\site-packages (1.0.1)

[notice] A new release of pip available: 22.3 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, types
import mysql.connector
from mysql.connector import Error

In [3]:
def df_to_sql(df, table_name, connection_string):
    try:
        # Crear un motor de conexi√≥n a la base de datos
        engine = create_engine(connection_string)

        # A√±adir una columna de √≠ndice como clave primaria si no existe
        if 'id' not in df.columns:
            df.insert(0, 'id', range(1, 1 + len(df)))

        # Obtener el tipo de datos de cada columna en el DataFrame
        dtype_dict = {col: types.VARCHAR(length=255) for col in df.columns}
        dtype_dict['id'] = types.INTEGER().with_variant(types.BIGINT(), 'sqlite')
        
        df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, dtype=dtype_dict)
        # print(f"‚úÖ Datos insertados en la tabla {table_name} exitosamente.")
        
    except Exception as e:
        # print(f"‚ùå Error al insertar datos en MySQL: {e}")
        pass

In [4]:
try:
    df = pd.read_csv('../data/MunE19_c.csv', sep=';', encoding='ISO-8859-1')
    print(df.head())
except Exception as e:
    print(f"‚ùå Error al leer el archivo CSV: {e}")

            TH  Cod Comarca  Cod Municipio               √Åmbito   Censo  \
0  Araba-Alava            1             59      VITORIA-GASTEIZ  190184
1  Araba-Alava            2              1     ALEGR√çA-DULANTZI    2016
2  Araba-Alava            2              3              ARAMAIO    1176
3  Araba-Alava            2              6              ARMI√ë√ìN     176
4  Araba-Alava            2              8  ARRATZUA-UBARRUNDIA     803

   Votantes  Nulos  V√°lidos  Blancos  Votos Candidatura  ...  CPE  MIEL  IZQP  \
0    119287  798.0   118489    908.0             117581  ...  126    49    57
1      1326   15.0     1311     25.0               1286  ...    1     1     0
2       835    2.0      833      4.0                829  ...    0     0     0
3       124    2.0      122      3.0                119  ...    1     0     0
4       531    2.0      529      4.0                525  ...    0     0     0

   PCPE-PCPC-PCPA  PODEMOS-IU  JUNTS  IGRE  VOLT  CV-EC  CEX-CREX-PREX
0             153       14985    553    49   113    537             79
1               2         175      7     0     1      4              0
2               1          50      6     0     0      1              0
3               0          24      0     0     0      0              0
4               0          45      3     0     0      1              0

[5 rows x 43 columns]

In [5]:
# Cargar variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
host = os.getenv('HOST')
port = os.getenv('PORT')
database = os.getenv('DATABASE')
user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [6]:
try:
    # Conectar a MySQL
    conn = mysql.connector.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password
    )

    if conn.is_connected():
        print('‚úÖ Conexi√≥n establecida a MySQL')
        cursor = conn.cursor()

        # A√±adir una columna de √≠ndice como clave primaria si no existe
        if 'id' not in df.columns:
            df.insert(0, 'id', range(1, 1 + len(df)))

        # Definir la cadena de conexi√≥n con los detalles correctos
        connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'

        # Llamar a la funci√≥n para convertir el DataFrame a SQL
        df_to_sql(df, 'elecc_europa_2019_municipios', connection_string)

    else:
        print('‚ùå No se pudo conectar a MySQL')

except Error as e:
    print(f"‚ùå Error al conectar a MySQL: {e}")

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()
        print('üîí Conexi√≥n cerrada.')

‚úÖ Conexi√≥n establecida a MySQL
üîí Conexi√≥n cerrada.