In [234]:
import mysql.connector
from mysql.connector import Error
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

In [235]:
# Cargar variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
host = os.getenv('host')
port = os.getenv('port')
database = os.getenv('database')
user = os.getenv('user')
password = os.getenv('password')

In [236]:
csv_file_path = '../data/MunE19_c_mod_municipios.csv'

In [237]:
table_name = 'municipios_pruebas_1234567'
primary_key_column = 'index'

In [238]:
try:
    # Connect to the MySQL database
    connection = mysql.connector.connect(
        user=user,
        password=password,
        host=host,
        port=port,
        database=database
    )
    
    if connection.is_connected():
        print("‚úÖ Successfully connected to the database")

        df = pd.read_csv(csv_file_path, sep=',', encoding='ISO-8859-1')

        # Handle NaN values in the DataFrame
        df = df.where(pd.notnull(df), None)  # Replace NaN with None (NULL in MySQL)

        # Create a cursor and execute the query
        cursor = connection.cursor()

        # Create table if it does not exist
        # Generate a CREATE TABLE statement based on the DataFrame columns
        columns = ', '.join(f"`{col}` VARCHAR(255)" for col in df.columns)
        create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns}, PRIMARY KEY (`{primary_key_column}`))"
        cursor.execute(create_table_query)
        print(f"üõ†Ô∏è Table '{table_name}' created or already exists.")

        # Insert data into the table
        try:
            print(f"‚ÑπÔ∏è Inserting data into '{table_name}'...")

            # Iterate over each row in the DataFrame
            for i, row in enumerate(df.itertuples(index=False), 1):
                # Generate the INSERT INTO query with properly escaped column names
                insert_query = f"INSERT INTO `{table_name}` (`{'`, `'.join(df.columns)}`) VALUES ({', '.join(['%s']*len(df.columns))})"
                
                # Execute the query with the values from the current row
                cursor.execute(insert_query, tuple(row))
                
                # Print progress message
                if i % 10 == 0:
                    print(f"Inserted {i} rows...")

            # Commit the changes
            connection.commit()
            print(f"‚ú® Data successfully inserted into '{table_name}'")

        except Error as e:
            # Handle any errors that may occur during insertion
            print("‚ùå Error inserting data:", e)

except Error as e:
    print("‚ùå An error occurred:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("üîí MySQL connection is closed")

‚úÖ Successfully connected to the database
üõ†Ô∏è Table 'municipios_pruebas_1234567' created or already exists.
‚ÑπÔ∏è Inserting data into 'municipios_pruebas_1234567'...
Inserted 10 rows...
Inserted 20 rows...
Inserted 30 rows...
Inserted 40 rows...
Inserted 50 rows...
Inserted 60 rows...
Inserted 70 rows...
Inserted 80 rows...
Inserted 90 rows...
Inserted 100 rows...
Inserted 110 rows...
Inserted 120 rows...
Inserted 130 rows...
Inserted 140 rows...
Inserted 150 rows...
Inserted 160 rows...
Inserted 170 rows...
Inserted 180 rows...
Inserted 190 rows...
Inserted 200 rows...
Inserted 210 rows...
Inserted 220 rows...
Inserted 230 rows...
Inserted 240 rows...
Inserted 250 rows...
‚ú® Data successfully inserted into 'municipios_pruebas_1234567'
üîí MySQL connection is closed

In [244]:
connection_str = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}"

try:
    # Conectar a la base de datos MySQL con SQLAlchemy
    engine = create_engine(connection_str)
    connection = engine.connect()

    print("‚úÖ Conexi√≥n exitosa a la base de datos")

    # Consultar los datos de la tabla y cargarlos en un DataFrame usando SQLAlchemy
    query = f"SELECT * FROM `{table_name}`"
    df = pd.read_sql(query, con=engine)

    # Mostrar los primeros 5 registros para verificar
    print(f"üîç Primeros 5 registros de la tabla '{table_name}':")
    print(df.head())

except mysql.connector.Error as e:
    print(f"‚ùå Error al conectar a la base de datos: {e}")

finally:
    # Cerrar la conexi√≥n a la base de datos
    if 'connection' in locals() and connection is not None:
        connection.close()
        print("üîí Conexi√≥n MySQL cerrada")

‚úÖ Conexi√≥n exitosa a la base de datos
üîç Primeros 5 registros de la tabla 'municipios_pruebas_1234567':
  index           TH Cod Comarca Cod Municipio            √É¬Åmbito
0     0  Araba-Alava           1            59    VITORIA-GASTEIZ
1     1  Araba-Alava           2             1  ALEGR√É¬çA-DULANTZI
2    10  Araba-Alava           2            17    CAMPEZO/KANPEZU
3   100      Bizkaia           3            91            ATXONDO
4   101      Bizkaia           3            92              BEDIA
üîí Conexi√≥n MySQL cerrada